Problem: Analyzing Weekly Trends in Transactions

1.Day with the Most Transactions:

Identify the day of the week (e.g., Monday, Tuesday) with the highest number of transactions overall.

2.Transactions by Week Number:

Group the transactions by week number of the year and calculate the total transaction amount for each week.

3.Top Regions by Day of the Week:

For each day of the week, determine the region that has the highest total transaction amount.

Bonus Problem:

4. Customer Consistency:

Identify customers who made at least one transaction on the same day across multiple weeks.

In [1]:
import pandas as pd

In [8]:
data = {
    "CustomerID": [101, 102, 103, 104, 105, 101, 102, 104],
    "TransactionDate": [
        "2023-01-10", "2023-02-15", "2023-02-20", 
        "2023-03-10", "2023-03-25", "2023-04-01",
        "2023-04-05", "2023-04-12"
    ],
    "Amount": [250, 300, 150, 500, 350, 200, 450, 300],
    "Region": ["East", "North", "South", "West", "East", "East", "North", "West"]
}

df = pd.DataFrame(data)
df["TransactionDate"] = pd.to_datetime(df["TransactionDate"])

In [20]:
df["Day"]=df["TransactionDate"].dt.dayofweek
df

   CustomerID TransactionDate  Amount Region  Day  Week
0         101      2023-01-10     250   East    1     1
1         102      2023-02-15     300  North    2     2
2         103      2023-02-20     150  South    0     0
3         104      2023-03-10     500   West    4     4
4         105      2023-03-25     350   East    5     5
5         101      2023-04-01     200   East    5     5
6         102      2023-04-05     450  North    2     2
7         104      2023-04-12     300   West    2     2

In [13]:
df["Day"].value_counts()

Day
2    3
5    2
1    1
0    1
4    1
Name: count, dtype: int64

In [25]:
df["Week"]=df["TransactionDate"].dt.isocalendar().week
df

   CustomerID TransactionDate  Amount Region  Day  Week
0         101      2023-01-10     250   East    1     2
1         102      2023-02-15     300  North    2     7
2         103      2023-02-20     150  South    0     8
3         104      2023-03-10     500   West    4    10
4         105      2023-03-25     350   East    5    12
5         101      2023-04-01     200   East    5    13
6         102      2023-04-05     450  North    2    14
7         104      2023-04-12     300   West    2    15

In [26]:
df.groupby("Week")["Amount"].sum()

Week
2     250
7     300
8     150
10    500
12    350
13    200
14    450
15    300
Name: Amount, dtype: int64

In [53]:
s=df.groupby(["Region","Day"])["Amount"].max()
s

Region  Day
East    1      250
        5      350
North   2      450
South   0      150
West    2      300
        4      500
Name: Amount, dtype: int64

In [60]:
df.groupby("CustomerID")["Day"]

In [62]:

# Group by CustomerID and Day, count unique weeks
customer_consistency = (
    df.groupby(["CustomerID", "Day"])["Week"]
    .nunique()
    .reset_index(name="UniqueWeeks")
)

# Filter for customers with transactions on the same day across multiple weeks
consistent_customers = customer_consistency[customer_consistency["UniqueWeeks"] > 1]

consistent_customers

   CustomerID  Day  UniqueWeeks
2         102    2            2