Problem: Analyzing Sales Transactions

You have a DataFrame df with the following columns:

CustomerID: Unique ID for customers.
TransactionDate: The date of the transaction.
Amount: The transaction amount.
Region: The region where the transaction occurred.

1.Calculate Total Spent: For each CustomerID, calculate the total transaction amount.
(Hint: Use groupby and sum.)

2.Find Transactions in Q1: Filter the transactions that happened in the first quarter (January - March).

3.Transaction Flag:
Create a new column called HighTransaction:

Value should be True if the transaction amount is greater than 300.
    Otherwise, False.

4.Region-Based Analysis:

Calculate the average transaction amount for each Region.

Find the Region with the lowest average transaction amount.

5.Monthly Spending Trend:

Create a new column Month from the TransactionDate.

Group the data by Month and calculate the total amount spent for each month.

Identify the month with the highest spending.

6.Most Frequent Customers:

Determine the top 2 customers (based on CustomerID) who made the highest total transactions.

In [4]:
import pandas as pd

In [5]:
data = {
    "CustomerID": [101, 102, 103, 104, 105, 101, 102, 104],
    "TransactionDate": [
        "2023-01-10", "2023-02-15", "2023-02-20", 
        "2023-03-10", "2023-03-25", "2023-04-01",
        "2023-04-05", "2023-04-12"
    ],
    "Amount": [250, 300, 150, 500, 350, 200, 450, 300],
    "Region": ["East", "North", "South", "West", "East", "East", "North", "West"]
}

df = pd.DataFrame(data)
df["TransactionDate"] = pd.to_datetime(df["TransactionDate"])

In [6]:
df.groupby('CustomerID')['Amount'].sum()

CustomerID
101    450
102    750
103    150
104    800
105    350
Name: Amount, dtype: int64

In [48]:

df["Month"]=df["TransactionDate"].dt.month
def s(Month):
    if Month in [1,2,3]:
        return "Q1"
    elif Month in [4,5,6]:
        return "Q2"
    elif Month in [7,8,9]:
        return "Q3"
    else:
        return "Q4"
df["Quarter"]=df["Month"].apply(s)
df.loc[df["Quarter"]=="Q1","TransactionDate"]

0   2023-01-10
1   2023-02-15
2   2023-02-20
3   2023-03-10
4   2023-03-25
Name: TransactionDate, dtype: datetime64[ns]

In [49]:
def s(Amount):
    if Amount>300:
        return True
    else:
        return False
df["HighTransaction"]=df["Amount"].apply(s)
df

,CustomerID,TransactionDate,Amount,Region,Month,Quater,HighTranscation,Avg,Quarter,HighTransaction
0,101,2023-01-10,250,East,1,Q1,False,NaN,Q1,False
1,102,2023-02-15,300,North,2,Q1,False,NaN,Q1,False
2,103,2023-02-20,150,South,2,Q1,False,NaN,Q1,False
3,104,2023-03-10,500,West,3,Q1,True,NaN,Q1,True
4,105,2023-03-25,350,East,3,Q1,True,NaN,Q1,True
5,101,2023-04-01,200,East,4,Q2,False,NaN,Q2,False
6,102,2023-04-05,450,North,4,Q2,True,NaN,Q2,True
7,104,2023-04-12,300,West,4,Q2,False,NaN,Q2,False

In [34]:
sd=df.groupby('Region')['Amount'].mean()
sd

Region
East     266.666667
North    375.000000
South    150.000000
West     400.000000
Name: Amount, dtype: float64

In [35]:
sd.idxmin()#Find the Region with the Lowest Average Transaction Amount

'South'

In [39]:
sf=df.groupby('Month')['Amount'].sum()
sf

Month
1    250
2    450
3    850
4    950
Name: Amount, dtype: int64

In [40]:
sf.idxmax() #Identify the Month with the Highest Spending

4

In [47]:
sg=df.groupby('CustomerID')['Amount'].sum()
sa=sg.sort_values(ascending=False).head(2)
sa

CustomerID
104    800
102    750
Name: Amount, dtype: int64