Problem: Average Spending per Region and Frequency

1.Compute the average Amount spent per Region based on customer Frequency (Frequent, Occasional, Rare).

2.Add the results into a new DataFrame with columns Region, Frequency, and AverageAmount.

In [1]:
import pandas as pd

In [2]:
data = {
    "CustomerID": [101, 102, 103, 104, 105, 101, 102, 104],
    "TransactionDate": [
        "2023-01-10", "2023-02-15", "2023-02-20", 
        "2023-03-10", "2023-03-25", "2023-04-01",
        "2023-04-05", "2023-04-12"
    ],
    "Amount": [250, 300, 150, 500, 350, 200, 450, 300],
    "Region": ["East", "North", "South", "West", "East", "East", "North", "West"]
}

df = pd.DataFrame(data)
df["TransactionDate"] = pd.to_datetime(df["TransactionDate"])

In [3]:
s=df.groupby("CustomerID")["Amount"].count()
def frequency(count):
    if count>=3:
        return "Frequent"
    elif count==2:
        return "Occasional"
    else:
        return "Rare"
customerFrequency=s.apply(frequency)
df["Frequency"]=df["CustomerID"].map(customerFrequency)
df

   CustomerID TransactionDate  Amount Region   Frequency
0         101      2023-01-10     250   East  Occasional
1         102      2023-02-15     300  North  Occasional
2         103      2023-02-20     150  South        Rare
3         104      2023-03-10     500   West  Occasional
4         105      2023-03-25     350   East        Rare
5         101      2023-04-01     200   East  Occasional
6         102      2023-04-05     450  North  Occasional
7         104      2023-04-12     300   West  Occasional

In [4]:
df.groupby(["Frequency","Region"])["Amount"].mean()

Frequency   Region
Occasional  East      225.0
            North     375.0
            West      400.0
Rare        East      350.0
            South     150.0
Name: Amount, dtype: float64

In [14]:
df2=df.groupby(["Frequency","Region"])["Amount"].mean().reset_index()
d2=df2 # the line d2 = pd.DataFrame(df2) is unnecessary. Itâ€™s better to avoid redundant steps to keep your code clean and efficient.
d2

    Frequency Region  Amount
0  Occasional   East   225.0
1  Occasional  North   375.0
2  Occasional   West   400.0
3        Rare   East   350.0
4        Rare  South   150.0

In [24]:
df2.rename(columns={"Amount":"Average-Amount"},inplace=True)
df2

    Frequency Region  Average-Amount
0  Occasional   East           225.0
1  Occasional  North           375.0
2  Occasional   West           400.0
3        Rare   East           350.0
4        Rare  South           150.0