Problem: Analyzing Sales Trends

You have a dataset representing the sales data of customers over time. Your goal is to identify sales trends for each customer by finding out:

Monthly Average Spend per Customer: 

Calculate the monthly average amount spent by each customer (CustomerID).

Spending Trend:

Compare each customerâ€™s current month's spending with the previous month.

Create a new column called Trend:

"Increase" if spending increased.

"Decrease" if spending decreased.

"Same" if spending stayed the same.

In [1]:
import pandas as pd

In [4]:
data = {
    "CustomerID": [101, 102, 103, 104, 105, 101, 102, 104],
    "TransactionDate": [
        "2023-01-10", "2023-02-15", "2023-02-20", 
        "2023-03-10", "2023-03-25", "2023-04-01",
        "2023-04-05", "2023-04-12"
    ],
    "Amount": [250, 300, 150, 500, 350, 200, 450, 300],
    "Region": ["East", "North", "South", "West", "East", "East", "North", "West"]
}

df = pd.DataFrame(data)
df["TransactionDate"] = pd.to_datetime(df["TransactionDate"])

In [27]:
df["Month"]=df["TransactionDate"].dt.month
df.groupby(["CustomerID","TransactionDate"])["Amount"].mean().reset_index()

   CustomerID TransactionDate  Amount
0         101      2023-01-10   250.0
1         101      2023-04-01   200.0
2         102      2023-02-15   300.0
3         102      2023-04-05   450.0
4         103      2023-02-20   150.0
5         104      2023-03-10   500.0
6         104      2023-04-12   300.0
7         105      2023-03-25   350.0

In [26]:
df.sort_values(by=["CustomerID", "TransactionDate"], inplace=True)
df["MonthPeriod"]=df["TransactionDate"].dt.to_period('M')
df["Trend"]=df.groupby("CustomerID")["Amount"].diff()
def s(Trend):
    if Trend>0:
        return "Increase"
    elif Trend<0:
        return "Decrease"
    elif Trend==0:
        return "Same"
    else:
        return  "N/A"
df["Trend"]=df["Trend"].apply(s)
df

,CustomerID,TransactionDate,Amount,Region,Month,Monthdiff,Trend,MonthPeriod
0,101,2023-01-10,250,East,1,2023-01,N/A,2023-01
5,101,2023-04-01,200,East,4,2023-04,Decrease,2023-04
1,102,2023-02-15,300,North,2,2023-02,N/A,2023-02
6,102,2023-04-05,450,North,4,2023-04,Increase,2023-04
2,103,2023-02-20,150,South,2,2023-02,N/A,2023-02
3,104,2023-03-10,500,West,3,2023-03,N/A,2023-03
7,104,2023-04-12,300,West,4,2023-04,Decrease,2023-04
4,105,2023-03-25,350,East,3,2023-03,N/A,2023-03