1. Identify Customers with Repeated Transactions
Find all customers (CustomerID) who made more than one transaction in the dataset.

2. Calculate the Total Spending per Region for Each Quarter
Group the data by both Region and Quarter, then calculate the total spending (Amount) for each combination.

3. Determine the Earliest Transaction Date for Each Customer
Identify the first transaction date for each CustomerID.

In [1]:
import pandas as pd

In [2]:
data = {
    "CustomerID": [101, 102, 103, 104, 105, 101, 102, 104],
    "TransactionDate": [
        "2023-01-10", "2023-02-15", "2023-02-20", 
        "2023-03-10", "2023-03-25", "2023-04-01",
        "2023-04-05", "2023-04-12"
    ],
    "Amount": [250, 300, 150, 500, 350, 200, 450, 300],
    "Region": ["East", "North", "South", "West", "East", "East", "North", "West"]
}

df = pd.DataFrame(data)
df["TransactionDate"] = pd.to_datetime(df["TransactionDate"])

In [34]:
sd=df["CustomerID"].value_counts() # Count the number of transactions per CustomerID
repeated_customers=sd[sd>1].index# Count the number of transactions per CustomerID
print(repeated_customers)

Index([101, 102, 104], dtype='int64', name='CustomerID')

In [8]:
df["Month"]=df["TransactionDate"].dt.month 
def s(Month):
    if Month in [1,2,3]:
        return "Q1"
    elif Month in [4,5,6]:
        return "Q2"
    elif Month in [7,8,9]:
        return "Q3"
    else:
        return "Q4"
df["Quarter"]=df["Month"].apply(s)
df.groupby(["Region","Quarter"])["Amount"].sum()

Region  Quarter
East    Q1         600
        Q2         200
North   Q1         300
        Q2         450
South   Q1         150
West    Q1         500
        Q2         300
Name: Amount, dtype: int64

In [26]:
df.groupby("CustomerID")["TransactionDate"].min()

CustomerID
101   2023-01-10
102   2023-02-15
103   2023-02-20
104   2023-03-10
105   2023-03-25
Name: TransactionDate, dtype: datetime64[ns]