 given the following dataset of customer transactions. Use pandas to answer the questions below:
 Questions:
1.Calculate the total amount spent by each customer.

2.Identify the customer who made the highest transaction and their Region.

3.Determine the monthly transaction total for the "East" region.

4.Find the average amount spent in each Region.

5.Add a new column TransactionCategory:
 If the Amount is above 400, classify as "High".
 If the Amount is between 200 and 400 (inclusive), classify as "Medium".
 Otherwise, classify as "Low".
 
6.Determine the most recent transaction for each Regio

In [1]:
import pandas as pd

data = {
    "CustomerID": [101, 102, 103, 104, 105, 101, 102, 104],
    "TransactionDate": [
        "2023-01-10", "2023-02-15", "2023-02-20", 
        "2023-03-10", "2023-03-25", "2023-04-01",
        "2023-04-05", "2023-04-12"
    ],
    "Amount": [250, 300, 150, 500, 350, 200, 450, 300],
    "Region": ["East", "North", "South", "West", "East", "East", "North", "West"]
}

df = pd.DataFrame(data)
df["TransactionDate"] = pd.to_datetime(df["TransactionDate"])

In [4]:
df.groupby("CustomerID")["Amount"].sum()

CustomerID
101    450
102    750
103    150
104    800
105    350
Name: Amount, dtype: int64

In [9]:
df.groupby("Region")["Amount"].max()

Region
East     350
North    450
South    150
West     500
Name: Amount, dtype: int64

In [33]:
df["Month"]=df["TransactionDate"].dt.month
df.loc[(df["Region"]=="East")]

   CustomerID TransactionDate  Amount Region TransactionCategory  Month
0         101      2023-01-10     250   East              Medium      1
4         105      2023-03-25     350   East              Medium      3
5         101      2023-04-01     200   East                 Low      4

In [10]:
df.groupby("Region")["Amount"].mean()

Region
East     266.666667
North    375.000000
South    150.000000
West     400.000000
Name: Amount, dtype: float64

In [11]:
def s(Amount):
    if Amount>400:
        return "High"
    elif Amount>200:
        return "Medium"
    else:
        return "Low"
df["TransactionCategory"]=df["Amount"].apply(s)

In [34]:
df.groupby('Region')["TransactionDate"].max()

Region
East    2023-04-01
North   2023-04-05
South   2023-02-20
West    2023-04-12
Name: TransactionDate, dtype: datetime64[ns]