1.Identify the Highest-Spending Customer

Find the CustomerID with the highest total Amount spent and their total spending.

2.Calculate Average Spending per Week

Determine the average spending per week across all customers.

3.Find the Peak Day for Transactions

Identify the Day (0 = Monday, 6 = Sunday) with the highest number of transactions.

4.Group Customers by Frequency of Transactions

Group customers into categories:

Frequent: Customers with 3 or more transactions.

Occasional: Customers with 2 transactions.

Rare: Customers with 1 transaction

In [2]:
import pandas as pd

In [3]:
data = {
    "CustomerID": [101, 102, 103, 104, 105, 101, 102, 104],
    "TransactionDate": [
        "2023-01-10", "2023-02-15", "2023-02-20", 
        "2023-03-10", "2023-03-25", "2023-04-01",
        "2023-04-05", "2023-04-12"
    ],
    "Amount": [250, 300, 150, 500, 350, 200, 450, 300],
    "Region": ["East", "North", "South", "West", "East", "East", "North", "West"]
}

df = pd.DataFrame(data)
df["TransactionDate"] = pd.to_datetime(df["TransactionDate"])

In [4]:
df["Day"]=df["TransactionDate"].dt.dayofweek
df["Week"]=df["TransactionDate"].dt.isocalendar().week
df

   CustomerID TransactionDate  Amount Region  Day  Week
0         101      2023-01-10     250   East    1     2
1         102      2023-02-15     300  North    2     7
2         103      2023-02-20     150  South    0     8
3         104      2023-03-10     500   West    4    10
4         105      2023-03-25     350   East    5    12
5         101      2023-04-01     200   East    5    13
6         102      2023-04-05     450  North    2    14
7         104      2023-04-12     300   West    2    15

In [29]:
s=df.groupby("CustomerID")["Amount"].sum()# Calculate total spending by each customer
f=s.idxmax()# Find the CustomerID with the highest spending
g=s.max() # Find the total spending amount of this customer
print("CustomerID with highest spending",f)
print("Total",g)

CustomerID with highest spending 104
Total 800

In [6]:
df.groupby(["CustomerID","Week"])["Amount"].mean()

CustomerID  Week
101         2       250.0
            13      200.0
102         7       300.0
            14      450.0
103         8       150.0
104         10      500.0
            15      300.0
105         12      350.0
Name: Amount, dtype: float64

In [7]:
s=df.groupby("Day")["Amount"].max()
s.idxmax()

4

In [20]:
s=df.groupby("CustomerID")["Amount"].count()
def frequency(count):
    if count>=3:
        return "Frequent"
    elif count==2:
        return "Occasional"
    else:
        return "Rare"
customerFrequency=s.apply(frequency)
df["Frequency"]=df["CustomerID"].map(customerFrequency)
df

   CustomerID TransactionDate  Amount Region  Day  Week   Frequency
0         101      2023-01-10     250   East    1     2  Occasional
1         102      2023-02-15     300  North    2     7  Occasional
2         103      2023-02-20     150  South    0     8        Rare
3         104      2023-03-10     500   West    4    10  Occasional
4         105      2023-03-25     350   East    5    12        Rare
5         101      2023-04-01     200   East    5    13  Occasional
6         102      2023-04-05     450  North    2    14  Occasional
7         104      2023-04-12     300   West    2    15  Occasional